u{font-size:50;color:grey;background-color:yellow; }
p.first{color:blue;}
p.second{color:green;text-align: center;text-indent: 30px;text-decoration:line-through;}
body{background: url("save nature copy.jpeg") no-repeat fixed center center;border-color: gold; border-style: dashed;border-width: medium;}
b{font-style: italic;}
